[flake8]
count=True
statistics=True
show-source=True

max-line-length=79
import-order-style=smarkets
application-import-names=aiogram_dialog
exclude=
    .venv,
    docs,
    benchmarks
docstring-convention=pep257
ignore=
    # A002 argument "object" is shadowing a python builtin
    A002,
    # A003 class attribute "id" is shadowing a python builtin
    A003,
    # A005 A module is shadowing a Python builtin module
    A005,
    # D100 Missing docstring in public module
    D100,
    # D101 Missing docstring in public class
    D101,
    # D102 Missing docstring in public method
    D102,
    # D103 Missing docstring in public function
    D103,
    # D104 Missing docstring in public package
    D104,
    # D105 Missing docstring in magic method
    D105,
    # D107 Missing docstring in __init__
    D107,
    # W504 line break after binary operator
    W504,
max-cognitive-complexity=10
max-complexity=10
per-file-ignores=
    tests/**:D1,E800,A003
    **/__init__.py:F401
